.footer {
  background-color: #F0F0F0;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  padding: 50px;
}

.footer {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cpath fill='%23000000' fill-opacity='0.0125' d='M50 50C50 44.477 54.477 40 60 40C65.523 40 70 44.477 70 50C70 55.523 65.523 60 60 60C60 65.523 55.523 70 50 70C44.477 70 40 65.523 40 60C40 54.477 44.477 50 50 50ZM10 10C10 4.477 14.477 0 20 0C25.523 0 30 4.477 30 10C30 15.523 25.523 20 20 20C20 25.523 15.523 30 10 30C4.477 30 0 25.523 0 20C0 14.477 4.477 10 10 10ZM20 18C24.418 18 28 14.418 28 10C28 5.582 24.418 2 20 2C15.582 2 12 5.582 12 10C12 14.418 15.582 18 20 18ZM60 58C64.418 58 68 54.418 68 50C68 45.582 64.418 42 60 42C55.582 42 52 45.582 52 50C52 54.418 55.582 58 60 58Z'%3E%3C/path%3E%3C/svg%3E");
}