.oss {
  max-width: 900px;
  margin: auto;
  padding: 100px;

  h1 {
    font-weight: 300;
    font-size: 32px;
  }

  p {
    font-weight: 300;
    font-size: 24px;
  }
}

.oss__contributions {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;

  a {
    text-decoration: none;
    margin: 20px;
  }

  img {
    width: 100px;
    border-radius: 50%;;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  }
}

@media only screen and (max-width: 700px) {
  .oss {
    padding: 40px;

    h1 {
      font-size: 24px;
    }

    p {
      font-size: 18px;
    }
  }

  .oss__contributions {
    margin: 50px 0 0 0;
    flex-wrap: wrap;

    a {
      margin: 20px 10px;
    }

    img {
      width: 75px;
    }
  }
}